.section-title {
  width: 60vw;
  min-width: calc(1100px*0.6);
  max-width: calc(1600px*0.6);
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 3;
}
